/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Page */
body {
  margin: 0;
  padding: 2rem;
  font-family: "Neue Montreal", sans-serif;
  background-color: #f2f0ef;
}



/* Section wrapper */
.element {
  padding-bottom: 2rem;
  border-top: 0.15rem solid #000;
}



/* Code block */
code {
  display: block;
  padding: 0.5rem;
  background-color: #EEE;
}

